<h1>********* Welcome to the longest word-game! *********</h1>
<%= @letters %>
<p>What is the longest word you can find?</p>
<form action="score" method="post" data-turbo="false">
<input type="text" name="answer">
<input type="submit" value="play">
</form>
<%# <%= hidden_field_tag :authenticity_token, form_authenticity_token %> %>
<%# <%= hidden_field_tag :letters, @letters %> %>
